/////////////////
//// GENERAL ////
/////////////////
html {
	box-sizing: border-box;
	font-size: $font-size-root;
	// Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $body-color;
  background-color: $body-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img, figure {
	max-width:100%;
	height:auto;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

///////////////
//// LINKS ////
///////////////

a {
  border:0;
  color: $link-color;
  text-decoration: $link-decoration;
  @include transition(all 0.3s ease-in-out);
  &:hover {
		color: $link-color-hover;
  	text-decoration: $link-decoration-hover;
	}
	&:visited {
		
	}
}

////////////////
//// HEADER ////
////////////////
header.header {
	z-index:999;	
	height:$navbar-height;
}

.hdr-logo {
	position:absolute;
	width:200px;
	left:50%;
	margin-left:-100px;
	margin: 0;
	@include bp(md) {
		width:100%;
		position:relative;
		left:0;
		margin-left:0;
	}
}


////////////////////
//// NAVIGATION ////
////////////////////
nav.main-navigation {
	background:$navbar-bg;
	z-index:999;
	height:$navbar-height;
	@include transition(all 0.3s ease-in-out);
	ul {
		margin:0;
		padding-left: 0;
		li {
			display:inline-block;
			margin-right: -4px;
			a {
				line-height: $navbar-height;
				padding:0 10px;
				text-align: center;
				text-decoration:none;
				display:block;
				color:$navbar-link-color;
				@include transition(all 0.3s ease-in-out);
			}
			a:hover{
				background:$navbar-link-hover;
				color:$navbar-link-hover;
			}
			&.active a, &.current-menu-item a {
				background:$navbar-link-active;
				color:$navbar-link-active;
			}
			ul.sub-menu,
			ul.children {
				position: absolute;
				visibility: hidden;
				z-index: 8999;
				li {
					background:$navbar-sub-bg;
					display:block;
					a {
						text-align: left;
					}
					ul {
						top:0;
						left:100%;
						li {
							display:block;
							a {
								min-width:100px;
								
							}
						}
					}
				}
			}
			/* showing sub-menus */
			&:hover > ul {
				top: auto;
				visibility:visible;
			}
		}
	}
}

// Main nav Sticky settings


.main-navigation.is_stuck{
	height:$navbar-height-stuck;
	background:$navbar-bg-stuck;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
	ul {
		a {
			line-height: $navbar-height-stuck;
			color:$navbar-link-color-stuck;
		}
		a:hover{
			background:$navbar-link-hover-bg-stuck;
			color:$navbar-bg-stuck;
		}
		li.active a, li.current-menu-item a {
			background:$navbar-link-active-bg-stuck;
			color:$navbar-bg-stuck;
		}
		ul.sub-menu,
		ul.children {
			li {
				background:$navbar-bg-stuck;
			}
		}
	}
}

//////////////
//// SIDR ////
//////////////
.sidr-toggle {
	font-size:2em;
	text-align:left;
	
	
	z-index: 999;
}
	
// Sidr navigation
// DARK
// .sidr{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:260px;overflow-x:none;overflow-y:auto;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:15px;background:#333;color:#fff;-webkit-box-shadow:inset 0 0 5px 5px #222;-moz-box-shadow:inset 0 0 5px 5px #222;box-shadow:inset 0 0 5px 5px #222}.sidr .sidr-inner{padding:0 0 15px}.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}.sidr.right{left:auto;right:-260px}.sidr.left{left:-260px;right:auto}.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:normal;padding:0 15px;margin:0 0 5px;color:#fff;line-height:24px;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));background-image:-webkit-linear-gradient(#4d4d4d,#1a1a1a);background-image:-moz-linear-gradient(#4d4d4d,#1a1a1a);background-image:-o-linear-gradient(#4d4d4d,#1a1a1a);background-image:linear-gradient(#4d4d4d,#1a1a1a);-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}.sidr p{font-size:13px;margin:0 0 12px}.sidr p a{color:rgba(255,255,255,0.9)}.sidr>p{margin-left:15px;margin-right:15px}.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #1a1a1a;border-bottom:1px solid #4d4d4d}.sidr ul li{display:block;margin:0;line-height:48px;border-top:1px solid #4d4d4d;border-bottom:1px solid #1a1a1a}.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{border-top:none;line-height:49px}.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#fff}.sidr ul li ul{border-bottom:none;margin:0}.sidr ul li ul li{line-height:40px;font-size:13px}.sidr ul li ul li:last-child{border-bottom:none}.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{border-top:none;line-height:41px}.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(255,255,255,0.8);padding-left:30px}.sidr form{margin:0 15px}.sidr label{font-size:13px}.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(255,255,255,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#333;background:#fff}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(255,255,255,0.9)}
// LIGHT
.sidr{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:260px;overflow-x:none;overflow-y:auto;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:15px;
	color:#333;}
.sidr .sidr-inner{padding:0 0 15px}.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}
.sidr.right{left:auto;right:-260px}
.sidr.left{left:-260px;right:auto}
.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:normal;padding:0 15px;margin:0 0 5px;color:#333;line-height:24px;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));background-image:-webkit-linear-gradient(#ffffff,#dfdfdf);background-image:-moz-linear-gradient(#ffffff,#dfdfdf);background-image:-o-linear-gradient(#ffffff,#dfdfdf);background-image:linear-gradient(#ffffff,#dfdfdf);-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}
.sidr p{font-size:13px;margin:0 0 12px}
.sidr p a{color:rgba(51,51,51,0.9)}
.sidr>p{margin-left:15px;margin-right:15px}
.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #dfdfdf;border-bottom:1px solid #fff}
.sidr ul li{display:block;margin:0;line-height:48px;border-top:1px solid #fff;border-bottom:1px solid #dfdfdf}
.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{border-top:none;}
.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb}
.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#333}
.sidr ul li ul{border-bottom:none;margin:0}
.sidr ul li ul li{line-height:40px;font-size:13px}
.sidr ul li ul li:last-child{border-bottom:none}
.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{border-top:none;line-height:41px}
.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb}
.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(51,51,51,0.8);padding-left:30px}
.sidr form{margin:0 15px}
.sidr label{font-size:13px}
.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(51,51,51,0.6);display:block;clear:both}
.sidr input[type=checkbox]{width:auto;display:inline;clear:none}
.sidr input[type=button],.sidr input[type=submit]{color:#f8f8f8;background:#333}
.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(51,51,51,0.9)}

// Custom SIDR using $color-primary as background
.sidr {
	background:$color-primary;
	box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.2);
	ul {
		border-top: 1px solid rgba(255,255,255,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.2);
		li {
			border-top: 1px solid rgba(255,255,255,0.2);
			border-bottom: 1px solid rgba(0,0,0,0.2);
			&:hover > a {
				box-shadow: inset 0 0 0px 0px rgba(0,0,0,0.2);
				border-left:3px solid inset white;
			}
			a {
				color:white;
			}
				ul {
				border-top: 1px solid rgba(255,255,255,0.2);
				border-bottom: 1px solid rgba(0,0,0,0.2);
				li {
					border-top: 1px solid rgba(255,255,255,0.2);
					border-bottom: 1px solid rgba(0,0,0,0.2);
					&:hover > a {
						box-shadow: inset 0 0 15px 3px rgba(0,0,0,0.2);
					}
					a {
						color:white;
					}
				}
			}
		}
	}
}

//////////////////////
//// SLICK SLIDER ////
//////////////////////
.slider {
	overflow:hidden;
}

///////////////////
//// ALIGNMENT ////
///////////////////

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//////////////////
//// CLEARING ////
//////////////////

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include clearfix-after;
}

///////////////////////
//// SCREENREADERS ////
///////////////////////

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:hover,
	&:active,
	&:focus {
		// background-color: $color__background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		// color: $color__text-screen;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}


