// BREAKPOINTS 
	// @include bp(sm) {}
	// @include bp(md) {}
	// @include bp(lg) {}
	// @include bp(xl) {}	

// TRANSITIONS
	// @include transition(all 0.3s ease-in-out);

// DARKEN/LIGHTEN
	// color:darken($color-primary, 20%);

// BOXED CONTENT - To style page with boxes around main areas
// body {
// 	background: #eee;
// }
// article {
// 	background:white;
// 	padding:20px;
// 	border:solid #bbb 1px;
// }
// #secondary { 
// 	background:#eee;
// 	padding:20px;
// 	border:solid #bbb 1px;	
// }


////////////////
//// HEADER ////
////////////////

/////////////////
//// CONTENT ////
/////////////////

////////////////
//// FOOTER ////
////////////////