input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	&:focus {

	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

////////////////
//// BUTTON ////
////////////////
button, .btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid $color-btn-border;
	border-radius: 3px;
	background: $color-btn-bg;
	color: white;
	@include font-size(16);
	line-height: 1;
	padding: .6em 1em;
	@include transition(all 0.3s ease-in-out);
	&:hover {
		background: lighten($color-btn-bg, 10%);
		border: 1px solid lighten($color-btn-border, 10%);
	}

	&:active,
	&:focus {
		
	}
}

