// @font-face {
//     font-family: 'strangelove_textregular';
//     src: url('../fonts/facetype_-_strangelovetext-webfont.eot');
//     src: url('../fonts/facetype_-_strangelovetext-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/facetype_-_strangelovetext-webfont.woff2') format('woff2'),
//          url('../fonts/facetype_-_strangelovetext-webfont.woff') format('woff'),
//          url('../fonts/facetype_-_strangelovetext-webfont.ttf') format('truetype'),
//          url('../fonts/facetype_-_strangelovetext-webfont.svg#strangelove_textregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }



p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-heading-family;
  font-weight: $font-heading-weight;
  line-height: $font-heading-line-height;
  color: $font-heading-color;
  margin-top: 0;
  margin-bottom: .5rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: $font-heading-color;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-bottom: $headings-margin-bottom;
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: $headings-margin-bottom;
}

// Put the sizes in pixels - will be converted to rem
h1, .h1 {@include font-size(40);}
h2, .h2 {@include font-size(32);}
h3, .h3 {@include font-size(28);}
h4, .h4 {@include font-size(24);}
h5, .h5 {@include font-size(20);}
h6, .h6 {@include font-size(16);}



//
// Horizontal rules
//

hr {
  margin-top: $spacer;
  margin-bottom: $spacer;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  font-size: 80%;
  font-weight: normal;
}

mark,
.mark {
  padding: .2em;
  background-color: $alert-red;
}


//
// Lists
//

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

// Horizontal description lists w/ grid classes
// .dl-horizontal {
//   @include clearfix;
// }


//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  padding: ($spacer / 2) $spacer;
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
  border-left: .25rem solid $blockquote-border-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  footer {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: $line-height;
  

    &::before {
      content: "\2014 \00A0"; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
.blockquote-reverse {
  padding-right: $spacer;
  padding-left: 0;
  text-align: right;
  border-right: .25rem solid $blockquote-border-color;
  border-left: 0;

  // Account for citation
  footer {
    &::before { content: ""; }
    &::after {
      content: "\00A0 \2014"; // nbsp, em dash
    }
  }
}

figure {
  margin: 0 0 1rem;
}

.figure-caption {
  font-size: 90%;
  color: $gray-light;
}


///////////////////////////////////////







dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 0 1rem;
}

blockquote, q {
  quotes: "" "";
  &:before,
  &:after {
    content: "";
  }
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

code, kbd, tt, var {
  @include font-size(0.9375);
}

abbr, acronym {
  cursor: help;
}

mark, ins {
  text-decoration: none;
}

big {
  font-size: 125%;
}

// LISTS
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0; // Undo browser default
}

