// Variables.scss by Liquid Engine

// COLOUR
// FONTS
// BUTTONS

////////////////
//// COLOUR ////
////////////////
$gray-dark:                 	#373a3c !default;
$gray:                      	#55595c !default;
$gray-light:                	#818a91 !default;
$gray-lighter:              	#eceeef !default;
$gray-lightest:             	#f7f7f9 !default;

$color-primary:     					red;

$alert-yellow:      					#ebe16f;
$alert-red:         					#fbe3e4;
$alert-green:       					#e6efc2;
$alert-blue:        					#d5edf8;

$color-btn-bg:								#D8D8D8;
$color-btn-border:						#979797;


$color-link:									$color-primary;
$color-link-hover:  					darken($color-link, 9%);
$color-link-visited:					$color-primary;

$color-cube-hover: 						rgba(26, 188, 156, 0.95);
$color-cube-desc: 						white;

/////////////////
//// GENERAL ////
/////////////////
$body-bg:                    	#fff !default;
$body-color:                  $gray-dark !default;
$font-size-root: 	            16px !default;

$spacer:											1rem;

$line-height:                	1.5 !default;

$border-width:               	1px !default;
$border-radius:          			.25rem !default;

///////////////
//// FONTS ////
///////////////
$font-size-base: 	            1rem !default;
$font-family-base: 						'Open Sans', sans-serif;
$font-family-sans-serif:     	"Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:          	Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      	Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-heading-family: 				$font-family-base;
$font-heading-weight:					normal;
$font-heading-line-height:		normal;
$headings-margin-bottom:			$spacer / 2;

$font-size-h1:               	2.5rem !default;
$font-size-h2:               	2rem !default;
$font-size-h3:               	1.75rem !default;
$font-size-h4:               	1.5rem !default;
$font-size-h5:               	1.25rem !default;
$font-size-h6:               	1rem !default;

$font-color:									$body-color;
$font-heading-color:					$font-color;

$hr-border-color:             rgba(0,0,0,.1) !default;
$hr-border-width:             $border-width !default;

$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     $gray-lighter !default;

///////////////
//// LINKS ////
///////////////
$link-color:                 	$color-primary !default;
$link-color-hover:           	darken($link-color, 15%) !default;
$link-decoration:            	none !default;
$link-decoration-hover:      	underline !default;

////////////////
//// HEADER ////
////////////////


////////////////
//// NAVBAR ////
////////////////
$navbar-bg:										#323232;
$navbar-height:								50px;

$navbar-link-color:						rgba(255,255,255,0.8);					
$navbar-link-hover:						rgba(255,255,255,0.6);				
$navbar-link-active:					rgba(255,255,255,0.8);

$navbar-sub-bg:							$navbar-bg;

// Stuck (when stuck at top of screen)
$navbar-height-stuck:					3rem;
$navbar-bg-stuck:							white;
$navbar-link-color-stuck:			rgba(0,0,0,0.8);					
$navbar-link-hover-bg-stuck:	rgba(0,0,0,0.6);				
$navbar-link-active-bg-stuck:	rgba(0,0,0,0.8);
$navbar-sub-bg-stuck:					$navbar-bg;

/////////////////
//// BUTTONS ////
/////////////////
$color-btn-bg:      					$color-primary;			
$color-btn-border:						darken($color-btn-bg, 5%);	

////////////////
//// TABLES ////
////////////////
$table-cell-padding:          .75rem !default;
$table-sm-cell-padding:       .3rem !default;

$table-bg:                    transparent !default;
$table-bg-accent:             #f9f9f9 !default;
$table-bg-hover:              #f5f5f5 !default;
$table-bg-active:             $table-bg-hover !default;

$table-border-color:          $gray-lighter !default;


// // Typography
// //
// // Font, line-height, and color for body text, headings, and more.



// // Pixel value used to responsively scale all typography. Applied to the `<html>` element.


// $font-size-base:             1rem !default;
// $font-size-lg:               1.25rem !default;
// $font-size-sm:               .85rem !default;
// $font-size-xs:               .75rem !default;



// $display1-size:               6rem !default;
// $display2-size:               5.5rem !default;
// $display3-size:               4.5rem !default;
// $display4-size:               3.5rem !default;

// $display1-weight:             300 !default;
// $display2-weight:             300 !default;
// $display3-weight:             300 !default;
// $display4-weight:             300 !default;




// $headings-font-family:       inherit !default;
// $headings-font-weight:       500 !default;
// $headings-line-height:       1.1 !default;
// $headings-color:             inherit !default;

// $lead-font-size:             1.25rem !default;
// $lead-font-weight:           300 !default;

// $text-muted:                  $gray-light !default;

// $abbr-border-color:           $gray-light !default;

// $blockquote-small-color:      $gray-light !default;





// // Components
// //
// // Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).





// // Tables
// //
// // Customizes the `.table` component with basic values, each used across all table variations.




// // Buttons
// //
// // For each of Bootstrap's buttons, define text, background and border color.

// $btn-padding-x:                  1rem !default;
// $btn-padding-y:                  .375rem !default;
// $btn-font-weight:                normal !default;

// $btn-primary-color:              #fff !default;
// $btn-primary-bg:                 $brand-primary !default;
// $btn-primary-border:             $btn-primary-bg !default;

// $btn-secondary-color:            $gray-dark !default;
// $btn-secondary-bg:               #fff !default;
// $btn-secondary-border:           #ccc !default;

// $btn-info-color:                 #fff !default;
// $btn-info-bg:                    $brand-info !default;
// $btn-info-border:                $btn-info-bg !default;

// $btn-success-color:              #fff !default;
// $btn-success-bg:                 $brand-success !default;
// $btn-success-border:             $btn-success-bg !default;

// $btn-warning-color:              #fff !default;
// $btn-warning-bg:                 $brand-warning !default;
// $btn-warning-border:             $btn-warning-bg !default;

// $btn-danger-color:               #fff !default;
// $btn-danger-bg:                  $brand-danger !default;
// $btn-danger-border:              $btn-danger-bg !default;

// $btn-link-disabled-color:        $gray-light !default;

// $btn-padding-x-sm:               .75rem !default;
// $btn-padding-y-sm:               .25rem !default;

// $btn-padding-x-lg:               1.25rem !default;
// $btn-padding-y-lg:               .75rem !default;

// // Allows for customizing button radius independently from global border radius
// $btn-border-radius:              $border-radius !default;
// $btn-border-radius-lg:           $border-radius-lg !default;
// $btn-border-radius-sm:           $border-radius-sm !default;


// // Forms

// $input-padding-x:                .75rem !default;
// $input-padding-y:                .375rem !default;

// $input-bg:                       #fff !default;
// $input-bg-disabled:              $gray-lighter !default;

// $input-color:                    $gray !default;
// $input-border:                   #ccc !default;
// $input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075) !default;

// $input-border-radius:            $border-radius !default;
// $input-border-radius-lg:         $border-radius-lg !default;
// $input-border-radius-sm:         $border-radius-sm !default;

// $input-border-focus:             #66afe9 !default;
// $input-box-shadow-focus:         rgba(102,175,233,.6) !default;

// $input-color-placeholder:        #999 !default;

// $input-padding-x-sm:             .75rem !default;
// $input-padding-y-sm:             .275rem !default;

// $input-padding-x-lg:             1.25rem !default;
// $input-padding-y-lg:             .75rem !default;

// $input-height:                   (($font-size-base * $line-height) + ($input-padding-y * 2)) !default;
// $input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
// $input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

// $form-group-margin-bottom:       $spacer-y !default;

// $input-group-addon-bg:           $gray-lighter !default;
// $input-group-addon-border-color: $input-border !default;

// $cursor-disabled:                not-allowed !default;

// // Form validation icons
// $form-icon-success: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNoZWNrIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDYxMiA3OTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYxMiA3OTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiM1Q0I4NUMiIGQ9Ik0yMzMuOCw2MTAuMWMtMTMuMywwLTI1LjktNi4yLTM0LTE2LjlMOTAuNSw0NDguOEM3Ni4zLDQzMCw4MCw0MDMuMyw5OC44LDM4OS4xYzE4LjgtMTQuMyw0NS41LTEwLjUsNTkuOCw4LjNsNzEuOSw5NWwyMjAuOS0yNTAuNWMxMi41LTIwLDM4LjgtMjYuMSw1OC44LTEzLjZjMjAsMTIuNCwyNi4xLDM4LjcsMTMuNiw1OC44TDI3MCw1OTBjLTcuNCwxMi0yMC4yLDE5LjQtMzQuMywyMC4xQzIzNS4xLDYxMC4xLDIzNC41LDYxMC4xLDIzMy44LDYxMC4xeiIvPjwvc3ZnPg==" !default;
// $form-icon-warning: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9Ildhcm5pbmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNjEyIDc5MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNjEyIDc5MiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0YwQUQ0RSIgZD0iTTYwMyw2NDAuMmwtMjc4LjUtNTA5Yy0zLjgtNi42LTEwLjgtMTAuNi0xOC41LTEwLjZzLTE0LjcsNC4xLTE4LjUsMTAuNkw5LDY0MC4yYy0zLjcsNi41LTMuNiwxNC40LDAuMiwyMC44YzMuOCw2LjUsMTAuOCwxMC40LDE4LjMsMTAuNGg1NTcuMWM3LjUsMCwxNC41LTMuOSwxOC4zLTEwLjRDNjA2LjYsNjU0LjYsNjA2LjcsNjQ2LjYsNjAzLDY0MC4yeiBNMzM2LjYsNjEwLjJoLTYxLjJWNTQ5aDYxLjJWNjEwLjJ6IE0zMzYuNiw1MDMuMWgtNjEuMlYzMDQuMmg2MS4yVjUwMy4xeiIvPjwvc3ZnPg==" !default;
// $form-icon-error: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNyb3NzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDYxMiA3OTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYxMiA3OTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNEOTUzNEYiIGQ9Ik00NDcsNTQ0LjRjLTE0LjQsMTQuNC0zNy42LDE0LjQtNTEuOSwwTDMwNiw0NTEuN2wtODkuMSw5Mi43Yy0xNC40LDE0LjQtMzcuNiwxNC40LTUxLjksMGMtMTQuNC0xNC40LTE0LjQtMzcuNiwwLTUxLjlsOTIuNC05Ni40TDE2NSwyOTkuNmMtMTQuNC0xNC40LTE0LjQtMzcuNiwwLTUxLjlzMzcuNi0xNC40LDUxLjksMGw4OS4yLDkyLjdsODkuMS05Mi43YzE0LjQtMTQuNCwzNy42LTE0LjQsNTEuOSwwYzE0LjQsMTQuNCwxNC40LDM3LjYsMCw1MS45TDM1NC43LDM5Nmw5Mi40LDk2LjRDNDYxLjQsNTA2LjgsNDYxLjQsNTMwLDQ0Nyw1NDQuNHoiLz48L3N2Zz4=" !default;


// // Dropdowns
// //
// // Dropdown menu container and contents.

// $dropdown-bg:                    #fff !default;
// $dropdown-border:                rgba(0,0,0,.15) !default;
// $dropdown-divider-bg:            #e5e5e5 !default;

// $dropdown-link-color:            $gray-dark !default;
// $dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
// $dropdown-link-hover-bg:         #f5f5f5 !default;

// $dropdown-link-active-color:     $component-active-color !default;
// $dropdown-link-active-bg:        $component-active-bg !default;

// $dropdown-link-disabled-color:   $gray-light !default;

// $dropdown-header-color:          $gray-light !default;


// // Z-index master list
// //
// // Warning: Avoid customizing these values. They're used for a bird's eye view
// // of components dependent on the z-axis and are designed to all work together.
// //
// // Note: These variables are not generated into the Customizer.

// $zindex-navbar:            1000 !default;
// $zindex-dropdown:          1000 !default;
// $zindex-popover:           1060 !default;
// $zindex-tooltip:           1070 !default;
// $zindex-navbar-fixed:      1030 !default;
// $zindex-navbar-sticky:     1030 !default;
// $zindex-modal-bg:          1040 !default;
// $zindex-modal:             1050 !default;


// // Navbar

// $navbar-border-radius:              $border-radius !default;
// $navbar-padding-horizontal:         $spacer !default;
// $navbar-padding-vertical:           ($spacer / 2) !default;

// $navbar-dark-color:                 rgba(255,255,255,.5) !default;
// $navbar-dark-hover-color:           rgba(255,255,255,.75) !default;
// $navbar-dark-active-color:          rgba(255,255,255,1) !default;
// $navbar-dark-disabled-color:        rgba(255,255,255,.25) !default;

// $navbar-light-color:                rgba(0,0,0,.3) !default;
// $navbar-light-hover-color:          rgba(0,0,0,.6) !default;
// $navbar-light-active-color:         rgba(0,0,0,.8) !default;
// $navbar-light-disabled-color:       rgba(0,0,0,.15) !default;


// // Navs

// $nav-link-padding:                          .5em 1em !default;
// $nav-link-hover-bg:                         $gray-lighter !default;

// $nav-disabled-link-color:                   $gray-light !default;
// $nav-disabled-link-hover-color:             $gray-light !default;

// $nav-tabs-border-color:                     #ddd !default;

// $nav-tabs-link-hover-border-color:          $gray-lighter !default;

// $nav-tabs-active-link-hover-bg:             $body-bg !default;
// $nav-tabs-active-link-hover-color:          $gray !default;
// $nav-tabs-active-link-hover-border-color:   #ddd !default;

// $nav-tabs-justified-link-border-color:            #ddd !default;
// $nav-tabs-justified-active-link-border-color:     $body-bg !default;

// $nav-pills-border-radius:                   $border-radius !default;
// $nav-pills-active-link-hover-bg:            $component-active-bg !default;
// $nav-pills-active-link-hover-color:         $component-active-color !default;


// // Pagination

// $pagination-padding-x:                .75rem !default;
// $pagination-padding-y:                .5rem !default;
// $pagination-padding-x-sm:             .75rem !default;
// $pagination-padding-y-sm:             .275rem !default;
// $pagination-padding-x-lg:             1.5rem !default;
// $pagination-padding-y-lg:             .75rem !default;


// $pagination-color:                     $link-color !default;
// $pagination-bg:                        #fff !default;
// $pagination-border:                    #ddd !default;

// $pagination-hover-color:               $link-hover-color !default;
// $pagination-hover-bg:                  $gray-lighter !default;
// $pagination-hover-border:              #ddd !default;

// $pagination-active-color:              #fff !default;
// $pagination-active-bg:                 $brand-primary !default;
// $pagination-active-border:             $brand-primary !default;

// $pagination-disabled-color:            $gray-light !default;
// $pagination-disabled-bg:               #fff !default;
// $pagination-disabled-border:           #ddd !default;


// // Pager

// $pager-bg:                             $pagination-bg !default;
// $pager-border:                         $pagination-border !default;
// $pager-border-radius:                  15px !default;

// $pager-hover-bg:                       $pagination-hover-bg !default;

// $pager-active-bg:                      $pagination-active-bg !default;
// $pager-active-color:                   $pagination-active-color !default;

// $pager-disabled-color:                 $pagination-disabled-color !default;


// // Jumbotron

// $jumbotron-padding:              2rem !default;
// $jumbotron-bg:                   $gray-lighter !default;


// // Form states and alerts
// //
// // Define colors for form feedback states and, by default, alerts.

// $state-success-text:             #3c763d !default;
// $state-success-bg:               #dff0d8 !default;
// $state-success-border:           darken($state-success-bg, 5%) !default;

// $state-info-text:                #31708f !default;
// $state-info-bg:                  #d9edf7 !default;
// $state-info-border:              darken($state-info-bg, 7%) !default;

// $state-warning-text:             #8a6d3b !default;
// $state-warning-bg:               #fcf8e3 !default;
// $state-warning-border:           darken($state-warning-bg, 5%) !default;

// $state-danger-text:              #a94442 !default;
// $state-danger-bg:                #f2dede !default;
// $state-danger-border:            darken($state-danger-bg, 5%) !default;


// // Cards
// $card-spacer-x:            1.25rem !default;
// $card-spacer-y:            .75rem !default;
// $card-border-width:        .0625rem !default;
// $card-border-radius:       .25rem !default;
// $card-border-color:        #e5e5e5 !default;
// $card-border-radius-inner: ($card-border-radius - $card-border-width) !default;
// $card-cap-bg:              #f5f5f5 !default;

// // Tooltips

// $tooltip-max-width:           200px !default;
// $tooltip-color:               #fff !default;
// $tooltip-bg:                  #000 !default;
// $tooltip-opacity:             .9 !default;

// $tooltip-arrow-width:         5px !default;
// $tooltip-arrow-color:         $tooltip-bg !default;


// // Popovers

// $popover-bg:                          #fff !default;
// $popover-max-width:                   276px !default;
// $popover-border-color:                rgba(0,0,0,.2) !default;
// $popover-fallback-border-color:       #ccc !default;

// $popover-title-bg:                    darken($popover-bg, 3%) !default;

// $popover-arrow-width:                 10px !default;
// $popover-arrow-color:                 $popover-bg !default;

// $popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
// $popover-arrow-outer-color:           fade-in($popover-border-color, 0.05) !default;
// $popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;


// // Labels

// $label-default-bg:            $gray-light !default;
// $label-primary-bg:            $brand-primary !default;
// $label-success-bg:            $brand-success !default;
// $label-info-bg:               $brand-info !default;
// $label-warning-bg:            $brand-warning !default;
// $label-danger-bg:             $brand-danger !default;

// $label-color:                 #fff !default;
// $label-link-hover-color:      #fff !default;


// // Modals

// // Padding applied to the modal body
// $modal-inner-padding:         15px !default;

// $modal-title-padding:         15px !default;
// $modal-title-line-height:     $line-height !default;

// $modal-content-bg:                             #fff !default;
// $modal-content-border-color:                   rgba(0,0,0,.2) !default;

// $modal-backdrop-bg:           #000 !default;
// $modal-backdrop-opacity:      .5 !default;
// $modal-header-border-color:   #e5e5e5 !default;
// $modal-footer-border-color:   $modal-header-border-color !default;

// $modal-lg:                    900px !default;
// $modal-md:                    600px !default;
// $modal-sm:                    300px !default;


// // Alerts
// //
// // Define alert colors, border radius, and padding.

// $alert-padding:               15px !default;
// $alert-border-radius:         $border-radius !default;
// $alert-link-font-weight:      bold !default;

// $alert-success-bg:            $state-success-bg !default;
// $alert-success-text:          $state-success-text !default;
// $alert-success-border:        $state-success-border !default;

// $alert-info-bg:               $state-info-bg !default;
// $alert-info-text:             $state-info-text !default;
// $alert-info-border:           $state-info-border !default;

// $alert-warning-bg:            $state-warning-bg !default;
// $alert-warning-text:          $state-warning-text !default;
// $alert-warning-border:        $state-warning-border !default;

// $alert-danger-bg:             $state-danger-bg !default;
// $alert-danger-text:           $state-danger-text !default;
// $alert-danger-border:         $state-danger-border !default;


// // Progress bars

// $progress-bg:                 #f5f5f5 !default;
// $progress-bar-color:          #fff !default;
// $progress-border-radius:      $border-radius !default;

// $progress-bar-bg:             $brand-primary !default;
// $progress-bar-success-bg:     $brand-success !default;
// $progress-bar-warning-bg:     $brand-warning !default;
// $progress-bar-danger-bg:      $brand-danger !default;
// $progress-bar-info-bg:        $brand-info !default;


// // List group

// $list-group-bg:                 #fff !default;
// $list-group-border:             #ddd !default;
// $list-group-border-radius:      $border-radius !default;

// $list-group-hover-bg:           #f5f5f5 !default;
// $list-group-active-color:       $component-active-color !default;
// $list-group-active-bg:          $component-active-bg !default;
// $list-group-active-border:      $list-group-active-bg !default;
// $list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

// $list-group-disabled-color:      $gray-light !default;
// $list-group-disabled-bg:         $gray-lighter !default;
// $list-group-disabled-text-color: $list-group-disabled-color !default;

// $list-group-link-color:         #555 !default;
// $list-group-link-hover-color:   $list-group-link-color !default;
// $list-group-link-heading-color: #333 !default;


// // Image thumbnails

// $thumbnail-padding:           .25rem !default;
// $thumbnail-bg:                $body-bg !default;
// $thumbnail-border:            #ddd !default;
// $thumbnail-border-radius:     $border-radius !default;


// // Breadcrumbs

// $breadcrumb-padding-vertical:   .75rem !default;
// $breadcrumb-padding-horizontal: 1rem !default;

// $breadcrumb-bg:                 $gray-lighter !default;
// $breadcrumb-divider-color:      $gray-light !default;
// $breadcrumb-active-color:       $gray-light !default;
// $breadcrumb-divider:            "/" !default;


// // Carousel

// $carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

// $carousel-control-color:                      #fff !default;
// $carousel-control-width:                      15% !default;
// $carousel-control-opacity:                    .5 !default;
// $carousel-control-font-size:                  20px !default;

// $carousel-indicator-active-bg:                #fff !default;
// $carousel-indicator-border-color:             #fff !default;

// $carousel-caption-color:                      #fff !default;


// // Close

// $close-font-weight:           bold !default;
// $close-color:                 #000 !default;
// $close-text-shadow:           0 1px 0 #fff !default;


// // Code

// $code-color:                  #bd4147 !default;
// $code-bg:                     #f7f7f9 !default;

// $kbd-color:                   #fff !default;
// $kbd-bg:                      #333 !default;

// $pre-bg:                      #f7f7f9 !default;
// $pre-color:                   $gray-dark !default;
// $pre-border-color:            #ccc !default;
// $pre-scrollable-max-height:   340px !default;
