<div class="banner" style="background:url('{{ theme.link }}/img/banner.jpg') no-repeat; background-size:cover;">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Oh yes! look at this lovely stuff</h1>
        <h4 class="slider-subtitle">This is an h4 subtitle</h4>  
      </div>    
    </div>
  </div>
</div>