<div id="js-grid-containermosaic" class="cbp cbp-l-grid-mosaic">
  <div class="cbp-item web-design graphic">
      <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/701d46" class="cbp-caption cbp-lightbox"
         data-title="Bolt UI<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
              <img src="{{ theme.link }}/img/saill.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Yarmouth Sailing School</div>
                      <div class="cbp-l-caption-desc">Website design &amp; build</div>
                  </div>
              </div>
          </div>
      </a>
  </div>
  <div class="cbp-item print motion">
      <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f36370" class="cbp-caption cbp-lightbox"
         data-title="World Clock Widget<br>by Paul Flavius Nechita">
          <div class="cbp-caption-defaultWrap">
              <img src="{{ theme.link }}/img/school.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">St Michaels School</div>
                      <div class="cbp-l-caption-desc">Website design &amp; build</div>
                  </div>
              </div>
          </div>
      </a>
  </div>
  <div class="cbp-item print motion">
      <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/edd61b" class="cbp-caption cbp-lightbox"
         data-title="WhereTO App<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
              <img src="{{ theme.link }}/img/saill.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">WhereTO App</div>
                      <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                  </div>
              </div>
          </div>
      </a>
  </div>
  <div class="cbp-item web-design print">
      <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/6eee29" class="cbp-caption cbp-lightbox"
         data-title="iDevices<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
              <img src="{{ theme.link }}/img/school.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">iDevices</div>
                      <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                  </div>
              </div>
          </div>
      </a>
  </div>
  <div class="cbp-item motion graphic">
      <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/747b7e" class="cbp-caption cbp-lightbox"
         data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
              <img src="{{ theme.link }}/img/saill.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                      <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                  </div>
              </div>
          </div>
      </a>
  </div>
  <div class="cbp-item print motion">
      <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/4a2146" class="cbp-caption cbp-lightbox"
         data-title="Remind~Me Widget<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
              <img src="{{ theme.link }}/img/school.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Remind~Me Widget</div>
                      <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                  </div>
              </div>
          </div>
      </a>
  </div>
  <div class="cbp-item web-design graphic print">
      <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/ee4fa6" class="cbp-caption cbp-lightbox"
         data-title="Workout Buddy<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
              <img src="{{ theme.link }}/img/saill.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Workout Buddy</div>
                      <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                  </div>
              </div>
          </div>
      </a>
  </div>
  <div class="cbp-item print graphic">
      <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/e9f9fa" class="cbp-caption cbp-lightbox"
         data-title="Digital Menu<br>by Cosmin Capitanu">
          <div class="cbp-caption-defaultWrap">
              <img src="{{ theme.link }}/img/school.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Digital Menu</div>
                      <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                  </div>
              </div>
          </div>
      </a>
  </div>
</div>


<script>
(function($, window, document, undefined) {
    'use strict';

    // init cubeportfolio
    $('#js-grid-containermosaic').cubeportfolio({
        filters: '#js-filters-mosaic',
        loadMore: '#js-loadMore-mosaic',
        loadMoreAction: 'click',
        layoutMode: 'mosaic',
        sortToPreventGaps: true,
        mediaQueries: [{
            width: 1100,
            cols: 4
        }, {
            width: 800,
            cols: 4
        }, {
            width: 480,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        defaultFilter: '*',
        animationType: 'quicksand',
        gapHorizontal: 0,
        gapVertical: 0,
        gridAdjustment: 'responsive',
        caption: 'zoom',
        displayType: 'sequentially',
        displayTypeSpeed: 100,

        // lightbox
        lightboxDelegate: '.cbp-lightbox',
        lightboxGallery: true,
        lightboxTitleSrc: 'data-title',
        lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
    });
})(jQuery, window, document);
</script>