<div class="masthead">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="hdr-logo">
					<a class="hdr-logo-link logo" href="/" rel="home"><img src="{{ theme.link }}/img/logo.png" alt=""></a>
				</div>		
			</div>
			<div class="col-md-6">
				<ul class="nav visible-xs visible-sm">
					<li class="nav-item {{item.classes | join(' ')}}">
						<a id="sidr-toggle" class="sidr-toggle visible-xs visible-sm" href="#sidr"><i class="fa fa-bars"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>