<!-- This needs fixing for timber!!! -->

<!-- Uses ACF Repeater field - use below values (or amend) -->
<div class="slider">
<?php

// check if the repeater field has rows of data
if( have_rows('slider') ):

  // loop through the rows of data
    while ( have_rows('slider') ) : the_row();
  ?>
  
    <div>
      <a href="">
        <img src="<?php the_sub_field('slider_image');?>" alt="<?php the_sub_field('slider_image_alt');?>">
        <div class="container">
          <div class="row">
            <div class="col-md-12 slider-text">
              <h1><?php the_sub_field('slider_title');?></h1>
              <h4 class="slider-subtitle"><?php the_sub_field('slider_subtitle');?></h4>  
            </div>    
          </div>
        </div>
      </a>
    </div>

    <?php
    endwhile;

    else :

        ?><p>It looks like you have no slides :(</p><?php

    endif;

    ?>
</div>

<script>
jQuery(document).ready(function(){
  jQuery('.slider').slick({
    dots: true,
    infinite: true,
    speed: 500,
    fade: true,
    cssEase: 'linear',
    autoplay: true,
    autoplaySpeed: 3000,
    responsive: true,
  });
});
</script>


