{% extends "base.twig" %}

{% block content %}
	{% include 'content/banner.twig' %}	
	{% include 'content/slickslider.twig' %}	
	{% include 'content/cubegrid.twig' %}	
	{% include 'content/parallax.twig' %}	
	<div class="content-wrapper">
		<div class="container">
			<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
				<section class="article-content">
					<h1 class="article-h1">{{post.title}}</h1>
					<div class="article-body">
						{{post.content}}
					</div>
				</section>
			</article>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}





