{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<!-- REMOVE ME!!!!!!! -->
	<!-- livereload -->
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
	</script>

	<body class="{{body_class}}" data-template="base.twig">

		<header class="header sticker">	
			{% include 'nav/navbar-inline.twig' %}
			{% include 'content/masthead.twig' %}
		</header>
		
		<script>
			jQuery(document).ready(function($) {	  
			  jQuery('.sticker').stick_in_parent();
			});
		</script>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="{{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>