{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<h2></h2>
		<p>{{qux}}</p>
		
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}	
	</div>
{% endblock %}