<nav class="main-navigation">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<h1 class="hdr-logo">
					<a class="hdr-logo-link" href="/" rel="home"><img src="{{ theme.link }}/img/logo.png" alt=""></a>
				</h1>		
			</div>
			<div class="col-md-9">
				<ul class="nav">
					{% for item in menu.get_items %}
						<li class="nav-item {{item.classes | join(' ')}}">
							<a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
							{% if item.get_children %}
								<ul class="nav nav-drop">
								{% for child in item.get_children %}
									<li class="nav-drop-item">
										<a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
									</li>
								{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>	
</nav>
