<nav class="main-navigation">
	<div class="container">
		<ul class="nav le-nav-inline hidden-xs hidden-sm">
			{% for item in menu.get_items %}
				<li class="nav-item {{item.classes | join(' ')}}">
					<a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
					{% if item.get_children %}
						<ul class="nav nav-drop">
						{% for child in item.get_children %}
							<li class="nav-drop-item">
								<a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
							</li>
						{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>	
</nav>


<div id="sidr">
	<ul class="nav">
		{% for item in menu.get_items %}
			<li class="nav-item {{item.classes | join(' ')}}">
				<a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
				{% if item.get_children %}
					<ul class="nav nav-drop">
					{% for child in item.get_children %}
						<li class="nav-drop-item">
							<a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>

<script>
jQuery(document).ready(function() {
  jQuery('#sidr-toggle').sidr();
});
</script>

